@import '../../theme/css/colors.scss';
@import '../../theme/css/mixins.scss';

.History {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    @include flex(flex-start, flex-end);
    flex-direction: column;
    border-right: 1px solid $color-gray;

    .HistoryItems {
        height: calc(100% - 60px);
        width: 100%;
        padding-left: 20px;
        overflow: scroll;
        direction: rtl;
        @include flex(flex-start, flex-end);
        flex-direction: column;

        .HistoryItem {
            width: 100%;
            flex-direction: column;
            @include flex(flex-start, flex-start);
            margin-bottom: 20px;

            .HistoryStatement {
                font-size: 1.6rem;
                direction: ltr;
            }
            
            .HistoryResult {
                direction: ltr;
                font-size: 2.4rem;
                color: $color-green;
            }
        }
    }

    .ClearButtonContainer {
        width: 100%;
        height: 60px;
        @include flex(center, center);

        .ClearButton {
            width: 140px;
            height: 34px;
            font-size: 1.4rem;
            background-color: $color-gray;
            color: $color-black;
            @include flex(center, center);
            border-radius: 12px;
            cursor: pointer;
        }
    }
}